@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<br />
<div class="container">
    <div class="row justify-content-center">
        <h1>@ViewData["Title"]</h1>

    </div>
    <div class="row justify-content-center">
        <h4>Reset your password.</h4>
    </div>
</div>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <p>
            Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
        </p>
    </div>
</div>